.App {
  text-align: center;
}
/* width */
.w50 {
  display: inline-block;
  width: 50px;
  margin: 0 auto;
}
.w100 {
display: inline-block;
width: 100px;
margin: 0 auto;
}
.w150 {
display: inline-block;
width: 150px;
margin: 0 auto;
}
.w100p {
width: 100%;
}
.w200 {
display: inline-block;
width: 200px;
margin: 0 auto;
}
.w250 {
display: inline-block;
width: 250px;
margin: 0 auto;
}
.w300 {
display: inline-block;
width: 300px;
margin: 0 auto;
}
.w400 {
display: inline-block;
width: 335px;
margin: 0 auto;
}
.w450 {
display: inline-block;
width: 450px;
margin: 0 auto;
}
.w500 {
display: inline-block;
width: 500px;
margin: 0 auto;
}
.w90vw {
  width: 90vw;
  border-radius: 5px;
  margin: 0 auto;
}
.w70vw {
  width: 70vw;
  border-radius: 5px;
  margin: 0 auto;
}

.w600 {
  width: 600px;
  margin: 0 auto;
}
.w700 {
  max-width: 700px;
  width: 70vw;
  margin: 0 auto;
}

/* padding */
.padding5 {padding: 5px;}
.padding10 {padding: 10px;}
.padding20 {padding: 20px;}
.padding1020 {padding: 10px 20px;}

/* margin */
.margin-auto {margin: 0 auto;}
.margin10-auto {margin: 10px auto;}
.margin5 {margin: 5px;}
.margin05 {margin: 0 5px;}
.margin10 {margin: 10px;}
.margin20 {margin: 20px;}

/* 背景設定用 */
.back-grey {background-color: rgb(240, 240, 240);}
.back-grey2 {background-color: rgb(220, 220, 220);}
.back-silver {background-color: silver;}
.back-white {background-color: white;}
.back-skyblue {background-color: skyblue;}
/* .back- {background-color: ;} */

/* border */
.underline {
  text-decoration: underline;
}
.border {
border-radius: 5px;
}
.border-grey {
border: solid 2px rgb(240, 240, 240);
border-radius: 5px;
}
.border-grey2 {
border: solid 2px rgb(220, 220, 220);
border-radius: 5px;
}
.border-black {
border: solid 4px black;
border-radius: 5px;
}
.border-blue {
border: solid 2px blue;
border-radius: 5px;
}
.border-green {
border: solid 2px Green;
border-radius: 5px;
}
.border-blueviolet {
  border: solid 4px blueviolet;
  border-radius: 5px;
}
/* .border {
border: solid px ;
border-radius: 10px;
} */

/* color */
.white {color: white;}
.skyblue {color: skyblue;}
.blue {color: #007bff;}
.green{color: #28a745;}
.red{color: #dc3545;}
.pink{color: rgb(255, 0, 255);}
/* . {color: ;} */

/* fontsize */
.font-size-small {font-size: 14px;}
.font-size20 {font-size: 20px;}
.font-size100 {font-size: 100px;}
.font-size-h2 {font-size: 24px;}
.font-size-h1 {font-size: 32px;}
/* .font-size- {font-size: px;} */

/* fontweight */
.font-weight600 {font-weight: 600;}

/* 骨格 */
.relative {position: relative;}
.absolute {position: absolute;}
.absolute-right {
  position: absolute;
  right: 15px;
}
.content {
  width: 90%;
  max-width: 1500px;
  margin: 20px auto;
}
.blank {height: 50px;}
.blank-small  {height: 30px;}
.flex {display: flex;}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
.flex-grow1 {flex-grow: 1;}
/* textAlign */
.right {text-align: right;}
.left {text-align: left;}
.center {text-align: center;}
